/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .engine {
    & .search-container {
      & .grid-view {
        grid-template-columns: 100%;
        & .grid-item {
          & .block {
            & .title {
              font-size: 14px;
              font-weight: 400;
            }
            & ul {
              & li {
                font-size: 13px;
              }
            }
            & .checkbox {
              display: flex;
              max-height: 150px;
              flex-direction: column;
            }
          }
          & .block-content,
          & .ups {
            margin-top: 14px;
          }
          & .min,
          & .max {
            width: 65px;
            padding: 4px;
          }
          & .btn {
            font-size: 14px;
            padding: 5px;
          }
          & .max {
            margin: 0 5px;
          }
        }
        & .search-results {
          padding: 10px;
          & .sortable {
            height: 8vh;
            & .flex {
              grid-template-columns: 80% 20%;
            }
            & .select {
              padding: 6px 3px;
            }
            & .listing {
              display: inline-grid;
              margin-left: 5px;
              margin-top: 5px;
            }
          }
          & .results {
            & .search-card {
              & .search-content-list {
                grid-template-columns: 30% 50% 20%;
              }
              width: 20%;
              padding: 4px;
              & .image-container {
                height: 150px;
                width: 150px;
              }
              & .product-name {
                max-height: 6vh;
                padding: 8px 0 0 10px;
                font-size: 16px;
              }
              & .price-and-cart {
                padding: 0 10px;
                & .currentPrice {
                  font-size: 14px;
                }
                & .line-through {
                  font-size: 12px;
                }
              }
              & .add-to-cart {
                width: 100%;
                & .btn {
                  width: 100%;
                  padding: 8px 0;
                  margin-top: 20px;
                  margin-bottom: 10px;
                }
              }
            }
            .search-card-list {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .mobile-header {
    height: 9vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1100;
    overflow: hidden;
  }
  .page-wrapper {
    padding-top: 9vh;
  }
  header {
    height: 9vh;
  }
  .bottom-panel {
    display: none;
  }
  .page-header {
    background: $white;
    height: 5vh;
  }
  .quick-navigation {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    z-index: 1100;
    width: 100%;
  }
  .search-engine {
    padding: 5px;
    height: 9vh;
    width: 80%;
    .search-form {
      top: 14%;
      position: relative;
      padding-left: 5px;
      & input[type='text'] {
        height: 5vh;
        width: 100%;
        background: $navigation-background;
        border-radius: unset;
        font-size: $subtitle2;
        padding: 0 5px;
      }

      & button {
        display: none;
      }
    }
  }
  & a {
    height: 100%;
    width: 100%;
    color: $black;
  }

  & small {
    letter-spacing: 1px;
  }

  & .active {
    background: #e4e4e4;
    box-shadow: inset 0 0 6px -3px rgba(0, 0, 0, 0.8);
  }
  .page-header {
    display: none;
  }

  .row {
    margin-bottom: 8vh;
    & .grid {
      grid-template-columns: 100%;
    }
    & .grid2 {
      grid-template-columns: 50% 50%;
    }
    & .grid3 {
      grid-template-columns: 47% 47%;
      grid-gap: 1% 5%;
    }
    & .product-price {
      font-size: $medium;
      color: $theme-color;
    }
    & .product-name {
      font-size: $subtitle2;
    }
  }
  .ads {
    & .grid2 {
      grid-template-columns: 100%;
      grid-gap: 25%;
    }
  }
  .mobile-footer {
    display: block;
    padding: 30px;
    & .grid {
      grid-template-columns: 100%;
      margin-bottom: 9vh;
    }
    & .flex {
      display: flex;
    }
  }

  .bottom-footer {
    margin-bottom: 9vh;
    display: block;
    & .grid {
      grid-template-columns: 100%;
    }
  }
  .sign {
    width: 100%;
    & .grid2 {
      grid-template-columns: 100%;
      input {
        width: 95%;
      }
    }
  }

  .sign-up-info {
    width: 100%;
  }
  .sign-in input {
    margin-top: 5px;
    width: 95%;
  }

  .headline {
    font-size: $mid;
  }
  .signup-now {
    padding-top: 5vh;
  }
  .form-group button {
    margin: 0;
  }
  .google-login,
  .facebook-login {
    width: 100%;
  }

  .sign-up-container {
    width: 100%;
    & .grid2 {
      display: flex;
      flex-direction: column-reverse;
      grid-template-columns: 100%;
    }
    & .sign-up-group {
      grid-template-columns: 100%;
    }
    & input {
      width: 100%;
      height: 5vh;
    }
    & .group {
      & input[type='email'] {
        width: 100%;
      }
    }
    & .sign-up-options {
      & .zIndex,
      & .mobile-hide {
        display: none;
      }
      & .mobile-display {
        margin-top: 7vh;
        margin-bottom: 3vh;
      }
    }
    & .mobile-display {
      display: block;
    }
  }
  .grid-chips {
    & > * {
      flex: 1 1;
    }
  }
  .featured-category {
    & > .feat-categories {
      margin: 10px 15px;
      width: 100%;
    }
  }
  .order-history {
    width: 100%;
  }
  .product-slider-container {
    padding: 0;
    & .product-slider {
      padding: 0 25px;
    }
  }
  .login-and-security,
  .change-address {
    width: 100%;
  }

  .settings-container {
    & .account-wrapper {
      & .settings {
        & > div {
          margin: 0;
        }
      }
    }
  }
  .warning-wrapper {
    .warning {
      width: 100%;
      background: yellow;
      position: relative;
      top: 9vh;
    }
  }
  .not-verified {
    width: 80%;
    .reason {
      width: 100%;
    }
  }

  .marts {
    & .mart-container {
      margin: 40px 0;
      & .category-banner {
        width: 100%;
        margin-bottom: 10px;
        & .img-container {
          width: 100%;
          height: 150px;
          & img {
            height: auto;
            width: 100%;
          }
        }
        & .category-name {
          font-size: 20px;
          padding-bottom: 10px;
        }
        & .category-seeMore {
          position: absolute;
          right: -6%;
          & .see-more {
            font-size: 10px;
            padding: 6px 8px;
          }
        }
      }
      & .subCategory-container {
        & .subcategory-product {
          grid-template-columns: 48% 48%;
          width: 100%;
          grid-gap: 2%;
          margin-bottom: 15%;
          & .subcategory {
            & .img-container {
              height: 165px;
              width: 90%;
              & img {
                height: 100%;
                object-fit: scale-down;
              }
            }
            & .name {
              font-size: 20px;
            }
            & .see-more {
              & button {
                padding: 8px 15px;
                margin-top: 5px;
              }
            }
          }
          & li {
            max-width: 188px;
          }
        }
      }
    }
  }

  .complete-profile-container {
    .page-title {
      font-size: 18px;
      padding-top: 10px;
    }

    .complete-profile {
      width: 100%;
      & .btn {
        width: 60%;
      }
    }
    .bo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    & .complete-later {
      text-align: center;
      padding-top: 25px;
    }
  }

  .personal-profile {
    & .profile-form {
      width: 90%;
      & .form {
        padding: 0 15px 15px 15px;
        & input {
          padding: 8px;
          width: 100%;
        }
        & .form-group {
          padding-top: 15px;
          & label {
            font-size: 14px;
            font-weight: 700;
          }
        }
        & .title {
          padding-top: 10px;
          font-size: 14px;
          font-weight: 700;
        }
        & .radio {
          width: 30px;
          height: 15px;
        }
        & .content {
          padding-top: 10px;
        }
      }
      & .others {
        width: 90% !important;
        left: 10%;
        position: relative;
      }

      & .tags {
        margin: 0;
        padding: 0;
        & .tag {
          display: inline-block;
          height: 26px;
          line-height: 26px;
          padding: 0 20px 0 23px;
          position: relative;
          margin: 0 10px 10px 0;
        }
      }
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mobile-header {
    display: none;
  }
  .quick-navigation {
    display: none;
  }
  .sign {
    width: 70%;
  }
  .sign-in {
    & .grid2 {
      grid-template-columns: 100%;
    }
  }
  .google-login,
  .facebook-login {
    width: 70%;
  }
  .logo {
    .img-container {
      width: 70%;
      overflow: hidden;
    }
  }
  .sign-up-container {
    width: 100%;
    & .grid2 {
      display: grid;
      grid-template-columns: 55% 45%;
      grid-gap: 0;
    }
  }
  .order-history {
    width: 100%;
  }
  .marts {
    & .mart-container {
      margin: 40px 0;
      & .category-banner {
        width: 100%;
        margin-bottom: 10px;
        & .img-container {
          width: 100%;
          height: 150px;
          & img {
            height: auto;
            width: 100%;
          }
        }
        & .category-name {
          font-size: 30px;
          padding-bottom: 10px;
        }
        & .category-seeMore {
          position: absolute;
          right: -3%;
          & .see-more {
            font-size: 15px;
            padding: 6px 8px;
          }
        }
      }
      & .subCategory-container {
        & .subcategory-product {
          grid-template-columns: 32% 32% 32%;
          width: 100%;
          grid-gap: 2%;
          margin-bottom: 6%;
          & .subcategory {
            & .img-container {
              height: 165px;
              width: 90%;
              & img {
                height: 100%;
                object-fit: scale-down;
              }
            }
            & .name {
              font-size: 20px;
            }
            & .see-more {
              & button {
                padding: 8px 15px;
                margin-top: 5px;
              }
            }
          }
          & li {
            max-width: 188px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 670px) {
  .sign-up-container {
    width: 100%;
    & .grid2 {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-gap: 0;
    }
    .google-login,
    .facebook-login {
      width: 96%;
    }
  }
  .marts {
    & .mart-container {
      // width: 80%;
      margin: 40px 0;
      & .category-banner {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        & .img-container {
          width: 100%;
          height: 150px;
          & img {
            height: auto;
            width: 100%;
          }
        }
        & .category-name {
          font-size: 30px;
        }
        & .category-seeMore {
          right: -5%;
          & .see-more {
            font-size: 15px;
            padding: 12px 16px;
          }
        }
      }
    }
    & .subCategory-container {
      & .subcategory-product {
        grid-template-columns: 30% 30% 30%;
        & .subcategory {
          & .img-container {
            height: 165px;
            width: 90%;
            & img {
              height: 100%;
              object-fit: scale-down;
            }
          }
          & .name {
            font-size: 20px;
          }
          & .see-more {
            & button {
              padding: 8px 15px;
              margin-top: 5px;
            }
          }
        }
        & li {
          max-width: 188px;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .img-container {
    height: 100%;
    width: 80%;
  }
  .grid-bottom-panel {
    grid-template-columns: 25% 50% auto;
  }
  .auth .auth-provider {
    padding: 25px 0px;
  }
  .anchor {
    font-size: 10px;
  }
  .mobile-header {
    display: none;
  }
  .quick-navigation {
    display: none;
  }
  .sign {
    width: 50%;
  }
  .sign-up-container {
    width: 70%;
    & .grid2 {
      display: grid;
      grid-template-columns: 55% 45%;
    }
  }
  .marts {
    & .mart-container {
      margin: 40px 0;
      & .category-banner {
        width: 100%;
        margin-bottom: 10px;
        & .img-container {
          width: 100%;
          height: 150px;
          & img {
            height: auto;
            width: 100%;
          }
        }
        & .category-name {
          font-size: 30px;
          padding-bottom: 10px;
        }
        & .category-seeMore {
          position: absolute;
          right: -3%;
          & .see-more {
            font-size: 15px;
            padding: 6px 8px;
          }
        }
      }
      & .subCategory-container {
        & .subcategory-product {
          grid-template-columns: 24% 23% 23% 23%;
          width: 100%;
          grid-gap: 2%;
          margin-bottom: 6%;
          & .subcategory {
            & .img-container {
              height: 165px;
              width: 90%;
              & img {
                height: 100%;
                object-fit: scale-down;
              }
            }
            & .name {
              font-size: 20px;
            }
            & .see-more {
              & button {
                padding: 8px 15px;
                margin-top: 5px;
              }
            }
          }
          & li {
            max-width: 188px;
          }
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .img-container {
    height: 100%;
  }
  .auth .auth-provider {
    padding: 25px 0px;
  }
  .anchor {
    font-size: 10px;
  }
  .mobile-header {
    display: none;
  }
  .quick-navigation {
    display: none;
  }
  .sign {
    width: 30%;
  }
  .not-verified {
    .reason {
      width: 50%;
    }
    button {
      padding: 15px;
      margin-top: 25px;
      border: 2px solid black;
      cursor: pointer;
    }
    .maybe-later {
      cursor: pointer;
      color: $theme-color;
      font-size: 10px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .quick-navigation {
    display: none;
  }
  .marts {
    & .mart-container {
      margin: 40px 0;
      & .category-banner {
        width: 100%;
        margin-bottom: 10px;
        & .img-container {
          width: 100%;
          height: 150px;
          & img {
            height: auto;
            width: 100%;
          }
        }
        & .category-name {
          font-size: 60px;
          padding-bottom: 10px;
        }
        & .category-seeMore {
          position: absolute;
          right: 2%;
          & .see-more {
            font-size: 20px;
            padding: 6px 8px;
          }
        }
      }
      & .subCategory-container {
        & .subcategory-product {
          grid-template-columns: 15% 15% 15% 15% 15% 15%;
          width: 100%;
          grid-gap: 2%;
          margin: 10px 0;
          & .subcategory {
            & .img-container {
              height: 165px;
              width: 90%;
              & img {
                height: 100%;
                object-fit: scale-down;
              }
            }
            & .name {
              font-size: 20px;
            }
            & .see-more {
              & button {
                padding: 8px 15px;
                margin-top: 5px;
              }
            }
          }
          & li {
            max-width: 188px;
          }
        }
      }
    }
  }
}
