$theme-color: rgb(0, 0, 0);
$primary-color: darken($theme-color, 10%);
$secondary-color: lighten($theme-color, 10%);
$navigation-background: rgb(255, 255, 255);
$footer-background: rgb(255, 255, 255);

$font: '';
$h1: 96rem;
$h2: 60rem;
$h3: 48rem;
$h4: 34rem;
$h5: 24rem;
$h6: 20rem;
$subtitle1: 16rem;
